# Your preferred application access domain
domain: <your_domain>
# Your document root relative to '/var/www/{{domain}}/'. In Symfony3, usually 'web'.
document_root: <your_document_root>
# Your Symfony location realtive to /var/www/{{domain}}/
symdony3_root: <your_symfony3_root>
# Uncomment this var only if you need to deploy with ansistrano
#git_repo: "your_repo_url"
# Your MySQL root user password
mysql_root_password: <your_database_root_password>
# Your MySQL default database name
mysql_database_name: <mysql_database_name>